<% include header %>

    <body>

        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a href="/" style="color:black">Back</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h2>DeepMind's Speech-to-Text-WaveNet Model</h2>

            <div>
                <table>
                    <tr>
                        <td class="transcript">Sample1</td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="./audioSamples/amy.mp3">
                            </audio>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Transcribe</button>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td class="transcript">Sample2</td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="./audioSamples/brian.wav">
                            </audio>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Transcribe</button>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td class="transcript">Sample3</td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="./audioSamples/sample1.flac">
                            </audio>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Transcribe</button>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td class="transcript">Sample4</td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="./audioSamples/sample2.flac">
                            </audio>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Transcribe</button>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td class="transcript">Sample5</td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="./audioSamples/sample3.flac">
                            </audio>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Transcribe</button>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td class="transcript">Sample6</td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="./audioSamples/sample4.flac">
                            </audio>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Transcribe</button>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td class="transcript">Sample7</td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="./audioSamples/sample5.flac">
                            </audio>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Transcribe</button>
                        </td>
                    </tr>
                </table>
            </div>


            <% include footer %>