<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Model Prediction</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">            
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#" style="color:black">Edit on GitHub</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <h1 class="header center teal-text text-lighten-2">Model Predictions</h1>
        <div class="row center">
            <h5 class="header col s12 light" style="color:red">A responsive front-end framework for Model Prediction</h5>
        </div>
    </div>
    </br>
    <div class="container">
        <div class="collection">
            <a href="Xception" class="collection-item"> Xception </a>
            <a href="VGG16" class="collection-item"> VGG16 </a>
            <a href="VGG19" class="collection-item"> VGG19 </a>
            <a href="ResNet50" class="collection-item"> ResNet50 </a>
            <a href="InceptionV3" class="collection-item"> InceptionV3 </a>
            <a href="InceptionResNetV2" class="collection-item"> InceptionResNetV2 </a>
            <a href="MobileNet" class="collection-item"> MobileNet </a>
            <a href="DenseNet" class="collection-item"> DenseNet </a>
        </div>
    </div>
    </br>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Vanderbilt University</h5>
                    <p class="grey-text text-lighten-4">We are a team of graduate students working on this project. Any amount would help support and continue
                        development on this project and is greatly appreciated.</p>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>