<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Model Prediction</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>        
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">            
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="https://anirban2404.github.io/ModelPrediction/" style="color:black">Edit on GitHub</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">         
        <h1 class="header center teal-text text-lighten-2" >Model Predictions</h1>
        <div class="row center">
            <b><h5 class="header col s12 light" style="color:rgba(10, 140, 201, 0.877)">A responsive front-end framework for Model Prediction</h5></b>
        </div>
    </div>
    </br>
    <div class="container">
        <div class="collection">        
            <a href="Xception" class="collection-item"> Xception </a></li>                  <!-- 7000  -->
            <a href="VGG16" class="collection-item"> VGG16 </a>                             <!-- 7001  -->
            <a href="VGG19" class="collection-item"> VGG19 </a>                             <!-- 7002  -->
            <a href="ResNet50" class="collection-item"> ResNet50 </a>                       <!-- 7003  -->
            <a href="InceptionV3" class="collection-item"> InceptionV3 </a>                 <!-- 7004  -->
            <a href="InceptionResNetV2" class="collection-item"> InceptionResNetV2 </a>     <!-- 7005  -->
            <a href="MobileNet" class="collection-item"> MobileNet </a>                     <!-- 7006  -->
            <a href="DenseNet121" class="collection-item"> DenseNet121 </a>                 <!-- 7007  -->
            <a href="DenseNet169" class="collection-item"> DenseNet169 </a>                 <!-- 7008  -->
            <a href="DenseNet201" class="collection-item"> DenseNet201 </a>                 <!-- 7009  -->
            <a href="word2vec_google" class="collection-item"> Word2Vec Google Embedding </a>         <!-- 7010  -->
            <a href="word2vec_glove" class="collection-item"> Stanford's GloVe Embedding </a>         <!-- 7011  -->
            <a href="speech_to_text_wavenet" class="collection-item"> DeepMind's Speech-to-Text-WaveNet </a>         <!-- 7012  -->
        </div>
    </div>
    </br>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Vanderbilt University</h5>
                    <p class="grey-text text-lighten-4">We are a team of graduate students working on this project. Any amount would help support and continue
                        development on this project and is greatly appreciated.</p>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>