<!DOCTYPE html>
<html lang="en">

<head>
    <title>File Prediction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"> </a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" style="color:black">Back</a>
                    </li>
                </ul>
            </div>
    </nav>


    <div class="container">

        <h2>Google's Word2Vec Embedding Model</h2>

        </br>

        <form action="/word2vec_google/predict_most_similar" class="form-inline" method="GET">
            <h5> Try more examples too: "he" is to "his" as "she" is to ?, "Berlin" is to "Germany" as "Paris" is to ? (click
                to fill in).</h5>
            <div class="form-group">
                <input value="man" name="label1" id="label1" type="text" class="form-control"> &nbsp is to &nbsp;
            </div>
            <div class="form-group">
                <input value="king" name="label2" id="label2" type="text" class="form-control"> &nbsp as &nbsp;
            </div>
            <div class="form-group">
                <input value="woman" name="label3" id="label3" type="text" class="form-control"> &nbsp is to &nbsp;
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" name="action">?
                </button>
            </div>
        </form>
        </br>
        </br>
        </br>
        </br>

        <form action="/word2vec_google/predict_doesnt_match" class="form-horizontal" method="GET">
            <h5> Also try: "monkey ape baboon human chimp gorilla"; "blue red green crimson transparent" (click to fill in).</h5>
            <div class="col-sm-7">
                <input value="dinner cereal breakfast lunch" id="label4" type="text" class="form-control"> &nbsp;
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Mismatch Word</button>
            </div>
        </form>


    </div>

</body>

</html>